<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        <a [title]="product.name + ' details '"
           [routerLink]="['/products', product.id]"> {{product.name}}
        </a>
    </h3>
    
    <img src="{{product.url}}" height="400">

    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>

    <a href="https://telegram.me/share/url?url={{product.url}}">
        <button>
            Share
        </button>
    </a>

    <a href="{{product.amazonURL}}"><button type="button">Amazon Link</button></a>

    <app-product-alerts
            [product]="product"
            (notify)="onNotify()">
    </app-product-alerts>
</div>
