# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
css
doc
img
js
.editorconfig
.gitattributes
404.html
browserconfig.xml
favicon.ico
humans.txt
icon.png
LICENSE.txt
index.html
package.json
package-lock.json
robots.txt
site.webmanifest
tile-wide.png
tile.png

