# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
.editorconfig
.htaccess
404.html
browserconfig.xml
favicon.ico
humans.txt
index.html
LICENSE.txt
package-lock.json
package.json
robots.txt
site.webmanifest
tile.png
tile-wide.png
