# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
.editorconfig
.gitattributes
.htaccess
404.html
browserconfig.xml
favicon.ico
humans.txt
icon.png
index.html
LICENSE.txt
package.json
package-lock.json
robots.txt
site.webmanifest
tile-wide.png
tile.png
css
doc
img
js
